html {
  position: relative;
  min-height: 100%; }

body {
  margin-bottom: 150px; }

.ml-auto .dropdown-menu {
  left: auto !important;
  right: 0px; }

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: auto;
  background-color: #f5f5f5; }

.carousel-content {
  text-align: center;
  width: 100%;
  color: black; }

#newsCarousel .carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23222' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important; }

#newsCarousel .carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23222' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important; }

#copyright {
  font-size: 10px;
  margin-bottom: 5px; }

.chckbx input {
  position: absolute;
  opacity: 0;
  cursor: pointer; }

/* Create a custom checkbox */
.checkmark {
  position: relative;
  display: block;
  height: 25px;
  width: 25px;
  background-color: #222; }

/* On mouse-over, add a grey background color */
.chckbx:hover input ~ .checkmark {
  background-color: #555; }

/* When the checkbox is checked, add a blue background */
.chckbx input:checked ~ .checkmark {
  background-color: #000; }

/* Show the checkmark when checked */
.chckbx input:checked ~ .checkmark:after {
  display: block; }

/* Style the checkmark/indicator */
.chckbx .checkmark:after {
  content: "";
  display: none;
  position: absolute;
  width: 20px;
  height: 22px;
  left: 2px;
  top: 2px;
  background-size: contain;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='%23ccc' viewBox='0 0 24 24'><path d='M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z'/%3E%3C/svg%3E") !important;
  background-repeat: no-repeat; }

.clickable-row {
  cursor: pointer; }

.sortable th {
  cursor: pointer;
  user-select: none; }

.routeSelector {
  cursor: pointer;
  display: block;
  background-image: url("../images/red-dot.png");
  background-size: contain;
  margin: auto;
  width: 25px;
  height: 25px; }

.routeSelector.selected {
  background-image: url("../images/green-dot.png"); }

@media only screen and (max-width: 1000px) {
  .footer {
    position: absolute; } }
