html {
	position: relative;
	min-height: 100%;
}
body {
	margin-bottom: 150px;
}
.ml-auto .dropdown-menu {
	left: auto !important;
	right: 0px;
}
.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: auto;
	background-color: #f5f5f5;
}
.carousel-content {
	text-align:center;
	width:100%;
	color:black;
}
#newsCarousel .carousel-control-next-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23222' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E")!important;
}
#newsCarousel .carousel-control-prev-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23222' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E")!important;
}
#copyright {
	font-size: 10px;
	margin-bottom:5px;
}

@media only screen and (max-width: 1000px) {
    .footer {
		position: absolute;
	}
}